body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#app {
  width: 990px;
}

.navbar .container {
  width: 990px;
}

.intro h3 {
  margin-top: 45px;
  margin-bottom: 30px;
}

.repoList ul {
  list-style: none;
}

.checkbox-label {
  padding-left: 10px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.hidden {
  display: none;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-brand {
  font-size: 26px;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 15px;
}

li.repo div.checkbox {
  width: 50%;
}
